# requirements.txt
alpaca_trade_api>=2.1.0
ccxt>=1.66.32
elegantrl
exchange_calendars==3.6.3
gputil
gymnasium
importlib-metadata==4.13.0
jqdatasdk
lz4
matplotlib
numpy>=1.17.3
pandas>=1.1.5
pre-commit
pyfolio
pytest
recommonmark
scikit-learn>=0.21.0
setuptools>=65.5.0
sphinx
sphinx_rtd_theme
SQLAlchemy
stockstats>=0.4.0
swig
tensorboardX
wheel>=0.33.6
wrds
yfinance
stable-baselines3
torch
ray[default]
pyluach
python-dateutil
pytz
toolz
korean_lunar_calendar
zipp>=0.5
requests<3,>2
urllib3<2,>1.24
websocket-client<2,>=0.56.0
websockets<11,>=9.0
msgpack==1.0.3
aiohttp<4,>=3.8.3
PyYAML==6.0.1
deprecation==2.1.0
packaging
certifi>=2018.1.18
cryptography>=2.6.1
typing-extensions>=4.4.0
aiodns>=1.1.1
yarl>=1.7.2
